<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Skylink Export</title>
	<!-- Meta Description -->
	<meta name="description" content="Blue One Page Creative HTML5 Template">
	<meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
	<meta name="author" content="Themefisher">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="../static/resource/images/icon.png">
	<!-- fonts-google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">

	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"  integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

	<!-- Fontawesome Icon font -->
	<link rel="stylesheet" href="../static/resource/plugins/font-awesome.min.css">
	<!-- Ion Icons Font -->
	<link rel="stylesheet" href="../static/resource/plugins/ionicons.min.css">
	<!-- bootstrap.min -->
	<link rel="stylesheet" href="../static/resource/plugins/jquery.fancybox.css">
	<!-- bootstrap.min -->
	<link rel="stylesheet" href="../static/resource/plugins/bootstrap/bootstrap.min.css">
	<!-- bootstrap.min -->
	<link rel="stylesheet" href="../static/resource/plugins/owl.carousel.css">
	<!-- bootstrap.min -->
	<link rel="stylesheet" href="../static/resource/plugins/slit-slider.css">
	<!-- bootstrap.min -->
	<link rel="stylesheet" href="../static/resource/plugins/animate.css">
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="../static/resource/css/style.css">

	<!-- banner (imagenes - orden - etc) -->
	<script src="../static/resource/plugins/modernizr-2.6.2.min.js"></script>

	<!-- slider plantilla -->
	<link rel="stylesheet" href="../static/resource/css/fontAwesome.css">
    <link rel="stylesheet" href="../static/resource/css/owl-carousel.css">
    <link rel="stylesheet" href="../static/resource/css/templatemo-style.css">
</head>

<body id="body">
	
<!-- Fixed Navigation ==================================== -->
<header id="navigation" class="fixed-top animated-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#body">
		<h2 class="navbar-brand-h2">Skylink Export</h2>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto text-center" id="nav">			
			<li class="nav-item">
			  <a class="nav-link" href="#Estudio">Nosotros</a>
			</li>		 
			<li class="nav-item dropdown ">
			  <a class="nav-link dropdown-toggle" href="#Plantillas" role="button" data-bs-toggle="dropdown" aria-expanded="false">Metas</a>
			  <ul class="dropdown-menu bg-transparent">
				<li><a class="dropdown-item text-white" href="#Bl-free">Free Download</a></li>
				<li><a class="dropdown-item text-white" href="#Bl-view">Only view</a></li>
			  </ul>
			</li>	
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#Colors" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
			  <ul class="dropdown-menu bg-transparent">
				<li><a class="dropdown-item text-white" href="#Gradients">Gradients</a></li>
			  </ul>
			</li>	                    
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#Generadores" role="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
			  <ul class="dropdown-menu bg-transparent">
				<li><a class="dropdown-item text-white" href="#">Sombras</a></li>
				<li><a class="dropdown-item text-white" href="#">Imagenes Formas</a></li>
				<li><a class="dropdown-item text-white" href="#">Loadres animacion</a></li>
				<li><a class="dropdown-item text-white" href="#">Botones</a></li>
				<li><a class="dropdown-item text-white" href="#">Variado</a></li>
			  </ul>
			</li>		  
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#Recursos" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contactos</a>
			  <ul class="dropdown-menu bg-transparent">
				<li><a class="dropdown-item text-white" href="#">Imagenes</a></li>
				<li><a class="dropdown-item text-white" href="#">Videos</a></li>
				<li><a class="dropdown-item text-white" href="#">Icons</a></li>
				<li><a class="dropdown-item text-white" href="#">Gifs</a></li>
			  </ul>
			</li>	 
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#Others" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ayuda</a>
			  <ul class="dropdown-menu bg-transparent">
				  <li><a class="dropdown-item text-white" href="#">Metadatos de html</a></li>
				<li><a class="dropdown-item text-white" href="#">modifica texto</a></li>
				<li><a class="dropdown-item text-white" href="#">archivo pesados</a></li>
				<li><a class="dropdown-item text-white" href="#">IP calculator</a></li>
				<li><a class="dropdown-item text-white" href="#">convertidor de todo</a></li>
				<li><a class="dropdown-item text-white" href="#">velocidad de escritura</a></li>			  
			  </ul>
			</li>	
		</ul>
	  </div>	  
    </nav>
  </div>
</header>
<!--
              End Fixed Navigation
              ==================================== -->





<main class="site-content" role="main">

	<!--
        Home Slider
        ==================================== -->

	<section id="home-slider">
		<div id="slider" class="sl-slider-wrapper">

			<div class="sl-slider">

				<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25"
				 data-slice1-scale="2" data-slice2-scale="2">
					<div class="mask-overly"></div>
					<div class="bg-img slider-1">
						<div class="slide-caption">
							<div class="caption-content">
								<h2 class="animated fadeInDown">Tu camino como programador 💻</h2>
								<p class="animated fadeInDown">Se busca ayudar a los jóvenes programadores a encontrar y desarrollar las habilidades necesarias</p>
								<a href="#contact" class="btn btn-blue btn-effect">contactanos</a>
							</div>
						</div>
					</div>

				</div>

				<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15"
				 data-slice1-scale="1.5" data-slice2-scale="1.5">
					<div class="mask-overly"></div>
					<div class="bg-img slider-2"></div>
					<div class="slide-caption">
						<div class="caption-content">
							<h2 class="animated fadeInDown">La clave de ser programador autodidacta 📚</h2>
							<p class="animated fadeInDown">El mejor incentivo para aprender es amar lo que estás haciendo y ponerlo siempre en practica</p>
							<a href="#contact" class="btn btn-blue btn-effect">contactanos</a>
						</div>
					</div>

				</div>

				<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3"
				 data-slice1-scale="2" data-slice2-scale="1">
					<div class="mask-overly"></div>
					<div class="bg-img slider-3"></div>
					<div class="slide-caption">
						<div class="caption-content">
							<h2 class="animated fadeInDown">Expande tu mente y tus metas 🤯🏁</h2>
							<p class="animated fadeInDown">Existen muchas formas de solucionar los problemas que se te presenten con las herramientas que vallas aprendiendo</p>
							<a href="#contact" class="btn btn-blue btn-effect">contactanos</a>
						</div>
					</div>

				</div>
				
				<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15"
				 data-slice1-scale="1.5" data-slice2-scale="1.5">
					<div class="mask-overly"></div>
					<div class="bg-img slider-4"></div>
					<div class="slide-caption">
						<div class="caption-content">
							<h2 class="animated fadeInDown">La clave de ser programador autodidacta 📚</h2>
							<p class="animated fadeInDown">El mejor incentivo para aprender es amar lo que estás haciendo y ponerlo siempre en practica</p>
							<a href="#contact" class="btn btn-blue btn-effect">contactanos</a>
						</div>
					</div>
				</div>

			</div><!-- /sl-slider -->

			<nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
				<a href="javascript:;" class="sl-prev">
					<i class="fa fa-angle-left fa-3x"></i>
				</a>
				<a href="javascript:;" class="sl-next">
					<i class="fa fa-angle-right fa-3x"></i>
				</a>
			</nav>


			<!-- puntos de banner carrucel -->
			<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
				<span class="nav-dot-current"></span>
				<span></span>
				<span></span>
				<span></span>
			</nav>

		</div><!-- /slider-wrapper -->
	</section>

	<!--
        End Home SliderEnd
        ==================================== -->


		<section id="Post-Home">
			<div class="container">
				<h2 class="text-center">Quiénes Somos</h2>
				<div class="section-title dark text-center">
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis sapiente quidem error molestias unde asperiores ex, alias aspernatur aliquam vitae quam? Error odit voluptates deserunt eveniet delectus rerum fugit ab!
					Voluptate fuga repudiandae exercitationem optio quidem nesciunt blanditiis qui possimus pariatur odio illo laboriosam, repellendus deserunt ut perferendis inventore nemo omnis? Quis eveniet quaerat quia, eum dignissimos optio veritatis sunt.
					Accusantium, cupiditate perspiciatis qui itaque consequuntur voluptatem, enim dolorum dicta molestias ipsum placeat tempore est. Soluta, sequi esse. Sequi, omnis. Incidunt nostrum quia qui corporis eius autem! Eligendi, ea maiores.
					Quis nostrum, repudiandae aliquid at omnis repellendus hic ex totam ea molestiae eius vitae, qui asperiores aliquam ratione quas voluptates eum pariatur cupiditate. Quia iure iusto qui dolorum, repellendus maiores!
					Ipsa quia illo error saepe illum incidunt delectus distinctio, repellendus culpa quaerat consequatur assumenda doloribus itaque tenetur necessitatibus placeat ratione perspiciatis labore porro voluptate. Nobis ut laborum voluptates minus cumque.</p>
				</div>
			</div>
		</section>



	<!-- Service section -->
	<section id="Estudio">
		<div class="container">
			<div class="">
				<div class="col-lg-12">
					<div class="section-title dark text-center">
						<h2>Nuestras Metas</h2>
						<p>libros, practicas y juegos completamente gratis para aprender a programar de todo</p>
					</div>
					
					<div id="sect-lik" class="section-title dark text-center">
						<ion-icon class="icon" name="logo-github"></ion-icon>					
						<h3>Aprende Python en 30 dias</h3>
						<a class="clik_blank" href="https://github.com/asabeneh/30-days-of-python" target="_blank">
							<ion-icon class="post_icon" name="chevron-forward-outline"></ion-icon>
						</a>
					</div>
					<div id="sect-lik" class="section-title dark text-center">
						<ion-icon class="icon" name="link-outline"></ion-icon>					
						<h3>Guia para desarrollarme en backend o fontend</h3>
						<a class="clik_blank" href="https://roadmap.sh/" target="_blank">
							<ion-icon class="post_icon" name="chevron-forward-outline"></ion-icon>
						</a>
					</div>
					<div id="sect-lik" class="section-title dark text-center">
						<ion-icon class="icon" name="link-outline"></ion-icon>
						<h3>Temario para aprender JavaScript, html, css, etc</h3>
						<a class="clik_blank" href="https://lenguajejs.com/" target="_blank">
							<ion-icon class="post_icon" name="chevron-forward-outline"></ion-icon>
						</a>
					</div>
					<div id="sect-lik" class="section-title dark text-center">
						<ion-icon class="icon" name="link-outline"></ion-icon>
						<h3>Libros de programacion gratis</h3>
						<a class="clik_blank" href="https://github.com/EbookFoundation/free-programming-books/blob/main/books/free-programming-books-langs.md" target="_blank">
							<ion-icon class="post_icon" name="chevron-forward-outline"></ion-icon>
						</a>
					</div>
					<div id="sect-lik" class="section-title dark text-center">
						<ion-icon class="icon" name="logo-github"></ion-icon>
						<h3>El Camino del Frontend Developer</h3>
						<a class="clik_blank" href="https://github.com/mrcodedev/frontend-developer-resources" target="_blank">
							<ion-icon class="post_icon" name="chevron-forward-outline"></ion-icon>
						</a>
					</div>
					<div id="sect-lik" class="section-title dark text-center">
						<ion-icon class="icon" name="link-outline"></ion-icon>
						<h3>Abecedario de programacion (repaso de todos los temas)</h3>
						<a class="clik_blank" href="https://devdocs.io/" target="_blank">
							<ion-icon class="post_icon" name="chevron-forward-outline"></ion-icon>
						</a>
					</div>
					<div id="sect-lik" class="section-title dark text-center">
						<ion-icon class="icon" name="analytics-outline"></ion-icon>
						<h3>Direcctorio Sql</h3>
						<a class="clik_blank" href="https://sqlzoo.net/wiki/SQL_Tutorial" target="_blank">
							<ion-icon class="post_icon" name="chevron-forward-outline"></ion-icon>
						</a>
					</div>
					<div id="sect-lik" class="section-title dark text-center">
						<ion-icon class="icon" name="analytics-outline"></ion-icon>
						<h3>Lecciones y Explicaciones de Sql</h3>
						<a class="clik_blank" href="https://sqlbolt.com/" target="_blank">
							<ion-icon class="post_icon" name="chevron-forward-outline"></ion-icon>
						</a>
					</div>
					<div id="sect-lik" class="section-title dark text-center">
						<ion-icon class="icon" name="analytics-outline"></ion-icon>
						<h3>Libro para saber mas de sql (ingles)</h3>
						<a class="clik_blank" href="https://selectstarsql.com/" target="_blank">
							<ion-icon class="post_icon" name="chevron-forward-outline"></ion-icon>
						</a>
					</div>
					<div id="sect-lik" class="section-title dark text-center">
						<ion-icon class="icon" name="analytics-outline"></ion-icon>
						<h3>Sql Police Department</h3>
						<a class="clik_blank" href="https://sqlpd.com/" target="_blank">
							<ion-icon class="post_icon" name="chevron-forward-outline"></ion-icon>
						</a>
					</div>
				</div>


			</div>
		</div>
	</section>
	<!-- end Service section -->

	

	<!-- portfolio section -->
	<section id="Plantillas">
		<div class="container">
			<div class="col-lg-12">
				<div class="section-title text-center white" id="Bx-Plant-sect">
					<h2>Productos</h2>
					<p>¿Te quedaste sin ideas para tu proximo proyecto? <br> aqui encontraras miles de plantillas gratis para descargar y utilizarlos completamente gratis</p>
					<p>proyectos para guiarte o tomar de referencia en tus proyectos</p>
					<br>
					<div class="text-white" id="Bx-Btn-click">						
						<div class="Btn-Pantilla btn-free" id="btn-free">Free Download</div>
						<div class="Btn-Pantilla btn-all" id="btn-all">All</div>
						<div class="Btn-Pantilla btn-view" id="btn-view">Only View</div>												
					</div>
					<div class="Bx-Open-View col-lg-12">
						<div class="Bl-free" id="Bl-free">								
							<h2>free</h2>
								<section class="popular-places" id="popular">
									<div class="container-fluid">										
										<div class="owl-carousel owl-theme">
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/Free/html5up.png" alt="">
													</div>
													<div class="text-content">
														<!-- <h4>html5up.net</h4> -->
														<a href="https://html5up.net/" target="_blank">Html5up.net</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/Free/themefisher.png" alt="">
													</div>
													<div class="text-content">
														<!-- <h4>themefisher.com</h4> -->
														<a target="_blank" href="">Themefisher.com</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/Free/tooplate.png" alt="">
													</div>
													<div class="text-content">
														<!-- <h4>tooplate.com</h4> -->
														<a target="_blank" href="">Tooplate.com</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/View/github-apis.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Github.com</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/View/OnePageLove.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Onepagelove.com</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/Free/html5up.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Html5up.net</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/Free/themefisher.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Themefisher.com</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/Free/tooplate.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Tooplate.com</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/View/github-apis.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Github.com</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/View/OnePageLove.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Onepagelove.com</a>
													</div>
												</div>
											</div>																									
										</div>
									</div>
								</section>
						</div>
						
						<div class="Bl-view" id="Bl-view">
								<h2>View</h2>
								<section class="popular-places" id="popular">
									<div class="container-fluid">										
										<div class="owl-carousel owl-theme">											
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/View/github-apis.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="https://github.com/public-apis/public-apis">Github.com</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/View/OnePageLove.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Onepagelove.com</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/Free/html5up.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Html5up.net</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/Free/themefisher.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Themefisher.com</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/Free/tooplate.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Tooplate.com</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/Free/html5up.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Html5up.net</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/Free/themefisher.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Themefisher.com</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/Free/tooplate.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Tooplate.com</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/View/github-apis.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Github.com</a>
													</div>
												</div>
											</div>
											<div class="item popular-item">
												<div class="thumb">
													<div class="Bx-foo-img">
														<img src="../static/resource/images/plantilla/View/OnePageLove.png" alt="">
													</div>
													<div class="text-content">
														<a target="_blank" href="">Onepagelove.com</a>
													</div>
												</div>
											</div>											
										</div>
									</div>
								</section>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</section>
	<!-- end portfolio section -->

	<!-- Testimonial section -->
	<section id="Colors" class="parallax">
		<div class="container">
			<div class="row">

				<div class="col-lg-12">
					<div class="section-title text-center white ">
						<h2>Servicios de Entrega</h2>
					</div>
				</div>
				<div class="col-lg-12">
					<div id="testimonial" class="">
						<div class="testimonial-item text-center">
							<a href=""><img class="img-fluid" src="../static/resource/images/colors/colorcodes.png" alt="colorcodes"></a>
							<div class="clearfix">
								<span>colorcodes</span>
							</div>
						</div>
						<div class="testimonial-item text-center">
							<a href=""><img class="img-fluid" src="../static/resource/images/colors/migradients.png" alt="migradients"></a>
							<div class="clearfix">
								<span>Katty Flower</span>
							</div>
						</div>
						<div class="testimonial-item text-center">
							<a href=""><img class="img-fluid" src="../static/resource/images/colors/flatuicolors.png" alt="flatuicolors"></a>
							<div class="clearfix">
								<span>Katty Flower</span>
							</div>
						</div>	
						<div class="testimonial-item text-center">
							<a href=""><img class="img-fluid" src="../static/resource/images/colors/developer.png" alt="developer"></a>
							<div class="clearfix">
								<span>Katty Flower</span>
							</div>
						</div>	
											
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="Gradients" class="parallax">
		<div class="container">
			<div class="row">

				<div class="col-lg-12">
					<div class="section-title text-center white ">
						<h2>Gradientes</h2>
					</div>
				</div>
				<div class="col-lg-12">
					<div id="testimonial" class="">
						<div class="testimonial-item text-center">
							<a href=""><img class="img-fluid" src="../static/resource/images/colors/colorcodes.png" alt="colorcodes"></a>
							<div class="clearfix">
								<span>colorcodes</span>
							</div>
						</div>
						<div class="testimonial-item text-center">
							<a href=""><img class="img-fluid" src="../static/resource/images/colors/migradients.png" alt="migradients"></a>
							<div class="clearfix">
								<span>Katty Flower</span>
							</div>
						</div>
						<div class="testimonial-item text-center">
							<a href=""><img class="img-fluid" src="../static/resource/images/colors/flatuicolors.png" alt="flatuicolors"></a>
							<div class="clearfix">
								<span>Katty Flower</span>
							</div>
						</div>	
						<div class="testimonial-item text-center">
							<a href=""><img class="img-fluid" src="../static/resource/images/colors/developer.png" alt="developer"></a>
							<div class="clearfix">
								<span>Katty Flower</span>
							</div>
						</div>	
											
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end Testimonial section -->



	<!-- Contact section -->
	<section id="contact">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-12">
					<div class="section-title text-center">
						<h2>Contacto</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, <br> sapiente. Libero ipsam, dolore
							quibusdam magni.</p>
					</div>
				</div>

				<div class="col-md-7 contact-form">
					<form id="contact-form" action="#" method="post">
						<div class="input-field">
							<input type="text" name="name" class="form-control" placeholder="Your Name...">
						</div>
						<div class="input-field">
							<input type="email" name="email" class="form-control" placeholder="Your Email...">
						</div>
						<div class="input-field">
							<input type="text" name="subject" class="form-control" placeholder="Subject...">
						</div>
						<div class="input-field">
							<textarea name="message" class="form-control" placeholder="Messages..."></textarea>
						</div>
						<div id="mail-success" class="success-ms">
							Thank you. The Mailman is on His Way :)
						</div>
						<div id="mail-fail" class="error-ms">
							Sorry, don't know what happened. Try later :(
						</div>
						<button type="submit" id="submit" class="btn btn-blue btn-effect">Send</button>
					</form>

				</div>
				<div class="col-md-5">
					<address class="contact-details">
						<h3>Our Address</h3>
						<p><i class="ion-ios-home-outline"></i>Lima - Peru</p><br>
						<p><i class="ion-ios-telephone-outline"></i>Phone: 902861014</p><br>
						<p><i class="ion-ios-email-outline"></i>betochirakudai@gmail.com</p>
					</address>
				</div>

			</div>
		</div>
	</section>

	

</main>

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>
          <a href="">
			<h2 class="navbar-brand-h2">Skylink Export</h2>
          </a>
        </h4>
        <p>Es un proyecto personal para ayudar o guiar a los programadores jóvenes en su camino de aprendizaje, descubriendo herramientas, libros, lenguajes, etc. que talvez no conocías</p>
      </div>
      <div class="col-md-4">
        <h4>Company</h4>
        <ul>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>newsletter signup</h4>
        <p>You will be among the first to know about hot new software and great deals on stuff to enhance and promote</p>
        <form action="#" method="post" class="subscribe-form wow animated fadeInUp">
          <div class="input-field">
            <input type="email" class="subscribe form-control" placeholder="Enter Your Email...">
            <button type="submit" class="submit-icon">
              <i class="fa fa-paper-plane fa-lg"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
<section id="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="text-center text-lg-left">
          COPYRIGHT © 2024 , Skylink Export | proyecto personal
        </p>
      </div>      
    </div>
  </div>
</section>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


  

	<script>window.jQuery || document.write('<script src="../static/resource/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="../static/resource/js/plugins.js"></script>
	<script src="../static/resource/js/mainlog.js"></script>

<!-- Essential jQuery Plugins
		================================================== -->
	<!-- Main jQuery -->
	<script src="../static/resource/plugins/jquery-1.11.1.min.js"></script>
	<!-- Twitter Bootstrap -->
	<script src="../static/resource/plugins/bootstrap/bootstrap.min.js"></script>
	<!-- Single Page Nav -->
	<script src="../static/resource/plugins/jquery.singlePageNav.min.js"></script>
	<!-- jquery.fancybox.pack -->
	<script src="../static/resource/plugins/jquery.fancybox.pack.js"></script> <!-- no cambia nafda pero dejarlo asi -->
	<!-- Owl Carousel -->
	<script src="../static/resource/plugins/owl.carousel.min.js"></script>
	<!-- jquery easing -->
	<script src="../static/resource/plugins/isotope.pkgd.min.js"></script>
	<script src="../static/resource/plugins/jquery.easing.min.js"></script>
	<!-- Fullscreen slider -->
	<script src="../static/resource/plugins/jquery.slitslider.js"></script>
	<script src="../static/resource/plugins/jquery.ba-cond.min.js"></script>
	<!-- onscroll animation -->
	<script src="../static/resource/plugins/wow.min.js"></script>
	<!-- Custom Functions -->
	<script src="../static/resource/plugins/jquery.form.min.js"></script>
	<script src="../static/resource/plugins/jquery.validate.min.js"></script>
	<!-- Google Map -->
	<!-- Google Map -->
	<!-- <script src="plugins/gmap.js"></script> -->
	<script src="../static/resource/js/main.js"></script>
	<script>
		$(function () {
			$("#contact-form").validate({
				rules: {
					name: {
						required: true,
						minlength: 2
					},
					email: {
						required: true,
						email: true
					},
					subject: {
						required: true,
						minlength: 2
					},
					message: {
						required: true,
						minlength: 2
					}
				},
				messages: {
					name: {
						required: "come on, you have a name don't you?",
						minlength: "your name must consist of at least 2 characters"
					},
					email: {
						required: "no email, no support"
					},
					subject: {
						required: "you have a reason to contact, write it here",
						minlength: "thats all? really?"
					},
					message: {
						required: "um...yea, you have to write something to send this form.",
						minlength: "thats all? really?"
					}
				},
				submitHandler: function (form) {
					$(form).ajaxSubmit({
						type: "POST",
						data: $(form).serialize(),
						url: "../static/resource/mail.php",
						success: function () {
							console.log('done');
							$(".contact-form").fadeTo("slow", 1, function () {
								$(".contact-form").resetForm();
								$(".success-ms").slideDown("slow");
							});
						},
						error: function () {
							console.log('error');
							$(".contact-form").fadeTo("slow", 1, function () {
								$(".error-ms").slideDown("slow");
							});
						}
					});
				},
				errorPlacement: function (error, element) {
					element.after(error);
					error.hide().slideDown();
				}
			});
		});
	</script>
</body>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</html>
